<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div class="bg-checker">
            <div id="wrapper">
                <%- include('../partials/header') %>
                    <%- include('../partials/navigation') %>
            </div>

            <main>
                <%- body %>
            </main>
            <%- include('../partials/footer') %>
        </div>
        <script>
            setTimeout(() => {
                const alerts = document.querySelectorAll('.alert');
                alerts.forEach((alert) => {
                    alert.classList.add('fade');
                    alert.classList.remove('show');
                    setTimeout(() => alert.remove(), 300);
                });
            }, 3000);
        </script>
    </body>

</html>